/* .login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

html{
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* display: flex;
  /* background-image: url("yoga-for-runners-girl-sunset-stock.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#root {
    height: 100%;
}

body{
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
}

.bg{
  background-image: image-url("yoga-for-runners-girl-sunset-stock.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 100px 0 0 0; */
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  /* margin-left: 20px; */
  outline: 1px solid #666666;
  border: none;
  background: rgba(0,0,0,0.5);
  width: 290px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0 15px 10px;
  margin: 5px 0 5px 0;
  font-size: 12;
  color: #6f7474;
}

.login-input:focus {
  background-color: white;
  color: black;
  border: 2px solid;
  border-color: #c78253;
  margin: 3px 0 3px 0;
  border-radius: 2px;
  outline: none;
  box-shadow: 0px 0px 5px 1px #daeaff;
  cursor: text;
}
/*
.login-signup{
  margin: 0;
} */

.signup-button {
  background: white;
  text-decoration: none;
  color: #7f6974;
  font-size: 14px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 82px;
  border-radius: 3px;
  margin-left: 40px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.signup-button:hover {
  background-color: #f5f5fa;
  color: black;
}

.signup-form-container{
  background-color: white;
  width: 430px;
  height: 430px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 60px;
  // padding-left: 34px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.signup-title{
  // padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 29px;
}

.signup-subtag {
  padding-bottom: 15px;
  padding-left: 29px;
}

.signup-username, .signup-new-password{
  padding-bottom: 10px;
  font-weight: 400;
  border: none;
}

.signup-input{
  border: 1px solid #ccccd1;
  width: 350px;
  height: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.signup-form{
  width: 100%;
  display: flex;
  // align-items: flex-start;
  align-items: center;
  justify-content: center;
}

.signup-form-box {
  width: 430px;
  // display: flex;
  // padding-top: 60px;
  // padding-left: 34px;
}

.signup-submit {
  background-color: #ed4b30;
  color: white;
  border: 0;
  width: 117px;
  height: 44px;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 29px;
}

.signup-submit-holder{
  width: 370px;
  display: flex;
  justify-content: flex-end;
}

.login-form-box {
  /* outline: 1px solid black; */
  /* padding: 20px; */
  border-radius: 0 0 3px 3px;
  background: rgba(0,0,0,0.5);
  width: 300px;
  padding: 30px 50px 50px 50px;
}


.login-title {
  border-radius: 3px 3px 0 0;
  display: flex;
  color: white;
  width: 400px;
  justify-content: center;
  background: rgba(0,0,0,0.75);
  padding: 20px 0 20px;
  font-size: 32px;
  font-weight: 200;
  margin-top: 100px;
}

.main-header {
  /* background: #ffffff; */
  background: white;
  width: 100%;
  margin: 0;
  border: 0;
  /* padding: 10px 0px 10px 0px; */
  /* justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #ccc; */
  height: 55px;
  border-bottom: 1px solid #e6e6ea;
}

.header-items {
  margin: 0 100px 0 100px;
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
}

.session-submit {
  background-color: #ed4b30;
  color: white;
  border: 0;
  width: 300px;
  margin: 40px 0 0 0;
  padding: 10px 0 10px 0;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s;
}

.session-submit:hover{
  background-color: #ec4023;
}

.athlete-stride-title, .footer-stride-title, .home-stride-title, .login-stride-title{
  border: 0;
  margin: 0;
  padding: 0;
  color: #ed4b30;
  font-size: 30px;
  /* font-weight: 400px; */
  /* font-weight: bold; */
  font-weight: bolder;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
}

.home-stride-title{
  margin-left: 8%;
}

.session-errors-list {
  width: 400px;
}

.signup-errors {
  width: 430px;
}

.auth-errors {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: white;
  background-color: red;
  border: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;
  padding: 0;
  // padding: 19px 0 19px 0;
}

.signup-form-elements{
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.error-item{
}

.home-header-items {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.home-header {
  /* background: #ffffff; */
  background: white;
  width: 100%;
  margin: 0;
  border: 0;
  /* padding: 10px 0px 10px 0px; */
  /* justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #ccc; */
  height: 50px;
  border-bottom: 1px solid #e6e6ea;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.home-catch-phrase{
  font-size: 42px;
  font-weight: 300;
}

.home-login-button{
  background-color: white;
  margin-right: 8%;
  text-decoration: none;
  color: #f00;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 102px;
  border-radius: 3px;
  transition: 0.3s;
}

.home-login-button:hover{
  background-color: #cccccc;
  border-color: #99999e;
}

.home-demo-login{
  margin-top: 25px;
  cursor: pointer;
}

.demo-login-button{
  // margin-top: 30px;
  border: none;
  width: 390px;
  height: 48px;
  background-color: #3b5997;
  color: white;
  cursor: pointer;
}

.demo-login-button:hover, .session-demo-login-button:hover{
  background-color: #2d4373;
}

.session-demo-login {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
  width: 400px;
  background: rgba(0,0,0,0.5);
}

.session-demo-login-button{
  border: none;
  // margin-bottom: 40px;
  width: 300px;
  height: 40px;
  background-color: #3b5997;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}

.footer-stride-title{
  color: white;
}

.home-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 320px;
  background-color: #2d2d32;
  /* padding-left: 100px; */
  /* padding-right: 10%; */
}

.footer-stride-title {
  margin-left: 100px;
  margin-top: 50px;
  /* position: relative; */
  /* top: 10%; */
  /* left: 10%; */
}

.get-started-title{
  font-size: 12px;
  color: #99999e;
}

.get-started{
  margin-top: 50px;
  margin-right: 100px;
  /* position: relative; */
  /* left: 75%; */
}

.get-started-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: space-between;
}


.footer-sign-up-element, .footer-log-in-element{
  color: white;
  text-decoration: none;
}

.footer-sign-up-element:hover, .footer-log-in-element:hover{
  text-decoration: underline;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
