.dashboard-stride-title {
  margin-left: 8%;
}

.dashboard-header{
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e6e6ea;
  height: 50px;
}

.dashboard-header-items {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.right-items {
  display: flex;
  flex-direction: row;
}

.dashboard-user{
  display: flex;
  list-style: none;
}

.dashboard-header-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-color: #be3825;
  color: white;
  list-style: none;
}

.dashboard-header-initial{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.dashboard {
  height: 100%;
}

.summary-column{
  display: flex;
  justify: center;
}

.header-button{
  justify-self: end;
}

.dashboard-body {
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  background-color: #f5f5fa;
  height: 100%;
}

.dashboard-profile-summary{
  padding-top: 30px;
  margin-top: 75px;
  width: 275px;
  height: 250px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-avatar{
  text-decoration: none;
  position: relative;
  top: -65px;
  z-index: 1;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bf3825;
  color: white;
  font-size: 36px;
  border-radius: 100%;
  /* box-shadow: 0px 0px 5px 4px 	#C0C0C0; */
  box-shadow: 0px 2px 10px 1px rgba(192,192,192,1);
}

.dashboard-username {
  text-decoration: none;
  font-weight: 300;
  font-size: 22px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6e6ea;
}

.dashboard-username:hover{
  color: blue;
}
